@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}

<div class="hero-banner">
    <div class="hero-content">
        <h1 class="hero-title">Welcome to RWA eCommerce</h1>
        <p class="hero-subtitle">Discover our products</p>
        <a asp-controller="Product" asp-action="Browse" class="hero-cta-btn">Shop now</a>
    </div>
</div>